# OS

.DS_Store
Thumbs.db

# Roblox

*.rbxl.lock
*.rbxlx.lock

# VS Code

.vscode/settings.json

# Packages

node_modules/
Packages/

# Build output

build/
dist/

# Local tooling logs

rojo-serve.log
rojo-serve.err.log
